<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <groups>
        <run>
            <include name="Regression"/>
        </run>
    </groups>
    <test verbose="2" preserve-order="true" name="D:/Source/Java/FrameworkDesign">
        <classes>
            <class name="TestCases.LogIn">
<!--                <methods>-->
<!--                    <include name="testLogin"/>-->
<!--                    <include name="validatePracticeScreen"/>-->
<!--                    <include name="validateECommerceScreen"/>-->
<!--                </methods>-->
            </class>
        </classes>
    </test>
</suite>